extends layout

block content
  h1
    center
      | #{content}
  p
    form(ref="releve", id="releve", method="post", action="/upload_releve", encType="multipart/form-data")
      table(width="100%")
        tr
          td(align="right")
            | Fichier du relevé bancaire:
          td
            input(type="file", id="fichier_releve", title="Sélection du fichier xml de relevé bancaire ...", name="fichier_releve", accept="text/xml")
        tr
          td(colspan="2")
            p
              | &nbsp;
        tr
          td
            center
              input(type="submit", title="Envoyer le fichier pour chargement ...", class="rapr-button", value="Chargement du fichier")
          td
            center
              input(type="button", title="Annulation du chargement du fichier ...", class="rapr-button", value="Annulation")
  script(type="text/javascript", src='/javascripts/tooltip.js')
